<div class="container">
  <h2>Product form</h2>

  <form method="post" action="">
    <!-- name -->
    <div class="form-group">
      <% if(errors.name) { %>
        <div class="alert alert-danger">
          <% errors.name.forEach(err => { %>
            <p><%= err.message %></p>
          <% }); %>
        </div>
      <% } %>

      <label>Name</label>
      <input class="form-control" type="text" name="name" value="<% if(old.name) { %><%= old.name %><% } %>">
    </div>
    <!-- ./name -->

    <!-- price -->
    <div class="form-group">
      <% if(errors.price) { %>
        <div class="alert alert-danger">
          <% errors.price.forEach(err => { %>
            <p><%= err.message %></p>
          <% }); %>
        </div>
      <% } %>

      <label>Price</label>
      <input class="form-control" type="number" step="0.01" name="price" value="<% if(old.price) { %><%= old.price %><% } %>">
    </div>
    <!-- ./price -->

    <!-- label -->
    <div class="form-group">
      <% if(errors.label) { %>
        <div class="alert alert-danger">
          <% errors.label.forEach(err => { %>
            <p><%= err.message %></p>
          <% }); %>
        </div>
      <% } %>

      <label>Label</label>
      <!-- label would normal be a select box. I used text input for testing purposes. -->
      <input class="form-control" type="text" name="label" value="<% if(old.label) { %><%= old.label %><% } %>">
    </div>
    <!-- ./label -->

    <div class="form-group">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
</div>